:root {
    --main-color: black;
}
body, header, .photo,  main, footer, .container, .tel, .mail {
    display: flex;
}
body {
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 1rem;
    margin: 0;
}

header {
    min-height: 60vh;
    border-bottom: 3px solid var(--main-color);
    flex-direction: row;
    gap: 5vw;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    background-color: coral ;
}

.aboutMe {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-height: 300px;
    max-width: 50%;
    position: relative;
}

.photo {
    position: absolute;
    left: -30%;
    border-radius: 50%;
}

.name {
    font-size: 1rem;
    position: absolute;
    top: 70%;
    left: 10%;
    color: var(--main-color);
    text-shadow: -1px -1px 0 #ffffff,  
    1px -1px 0 #ffffff,
   -1px  1px 0 #ffffff,
    1px  1px 0 #ffffff;
}

img {
    height: auto;
    max-width: 25vw;
}

main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 800px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    padding: 20px;
    margin: auto;
}

.project {
    min-width: 200px;
    min-height: 200px;
    border: 1px solid gray;
}

footer {
    flex-direction: row;
    min-height: 200px;
    border-top: 3px solid var(--main-color);
    gap: 5vw;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.contact {
    max-width: 500px;
}



